on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '**' ]

name: Staticcheck
jobs:
  build:
    strategy:
      matrix:
        go-version: [ 1.24.x ]
    runs-on: ubuntu-latest

    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}

    - name: staticcheck.io
      uses: dominikh/staticcheck-action@v1.4.0
      with:
        version: "2025.1"
        install-go: false
        cache-key: ${{ matrix.go-version }}
